<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Not Google Plus</title>
    <base href="/" />
    {% include 'css.html' %}
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" ng-view></div>
        </div>
    </div>

    {% include 'js.html' %}
</body>
</html>