{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>

<script type="text/javascript" src="{% static 'app/app.js' %}"></script>
<script type="text/javascript" src="{% static 'app/app.config.js' %}"></script>
<script type="text/javascript" src="{% static 'app/app.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'app/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authentication/controllers/login.controller.js' %}"></script>

